<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-card class="gdpr">
    <div class="columns">
      <div class="column">
        <img class="imagen has-text-centered" src="./assets/img/European_Union_Flag.png">
      </div>
    </div>

    <div class="separador"></div>

    <div class="columns">
      <div class="column">
        <mat-card-content>
          <div class="border">
            <embed class="txt" src="https://api.uclassify.com/v1/%7Busername%7D/%7BclassifierName%7D/classify/?readKey=YOUR_READ_API_KEY_HERE&text=This+is+the+text+to+classify">
            <embed class="txt" src="./assets/txt/Lorem2.txt"> </div>
        </mat-card-content>
      </div>
    </div>

    <div class="column">
      <mat-checkbox #termsi>
        Aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis.Vulputate mi sit amet mauris. Cursus sit amet
        dictum sit amet justo donec.
      </mat-checkbox>
    </div>

    <div class="separador"></div>

    <div class="is-pulled-right">
      <button mat-button type="button" style="margin-right: 15px" (click)="onClickTerms(true)" [disabled]="!(termsi.checked)">Accept</button>
      <button mat-button type="button" (click)="onClickTerms(false)">Decline</button>
    </div>

    <div class="separador"></div>

  </mat-card>
</div>

<router-outlet></router-outlet>